/* ================ OVERALL STYLING ================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000;
}

.container.wrap {
	margin-top: 12%;
}

/* ================ NAVBAR ================*/
.navbar {
	background: transparent;
	border-color: transparent;
}

/* Centering Navbar Content */
ul.nav.navbar-nav {
	width: 100%;
	text-align: center;
	background: #000000;
	padding-bottom: 5px;
}

.navbar-nav li {
	display: inline-block;
    float: none;
    margin-right: 5%;
}

.navbar-default .navbar-nav li a {
	color: white;
	font-family: 'Lato', Open Sans, Arial;
	/*font-size: 130%;*/
	letter-spacing: 10px;
}

.navbar-nav li:last-child {
	margin-right: 0px;
}

/* Collapsable Navbar */
.navbar-collapse {
	border: none;
	background: black;
}

.collapse.navbar-collapse.scroll-navbar {
	display: none!important;
}

.navbar-collapse.collapse.in{
  display:block !important;
}

/* Navbar Header Background Color */
.navbar-header.spread-menu {
	background: #000000;
}

/* Navbar Toggle Button */
button.navbar-toggle {
	background: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

/* Navbar Image */
#je-logo-li {
	width: 10%;
}

#je-logo {
	width: 100%;
}

/* ================ PROJECTS DIV ================*/

.project {
	border-radius: 10px;
	margin-bottom: 3%;
	text-align: center;
	height: 200px;
}

.details {
	margin-bottom: 3%;
}

.grow:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.view-btn {
	background: transparent;
	color: #ffffff;
	border: solid;
	border-color: #ffffff;
	font-family: 'Lato', Open Sans, Arial;
	letter-spacing: 5px;
	font-weight: bolder;
	padding-left: 20px;
}

.view-btn:hover {
	background: white;
}

/* ================ AUTOTRACK DIV ================*/
#autotrack-project {
	/*margin-top: 15%;*/
	border: solid;
	border-color: #00bfff;
	box-shadow: 0px 0px 15px #00ffff;
	/*height: 200px;*/
}

#autotrack-logo {
	width: 50%;
}

/* ================ CODEHIVE DIV ================*/
#codehive-project {
	border: solid;
	border-color: #000000;
	background: url("../images/hive-background.svg") no-repeat;
	background-size: 100%;
}

#codehive-project .logo {
	/*margin-top: 2%;*/
	margin-bottom: 2%;
}

#codehive-logo {
	margin-top: 1%;
	background: #000000;
	width: 40%;
}

/* ================ SOUNDSCOUT DIV ================*/
#soundscout-project {
	border: solid;
	border-color: #000000;
	background: url("../images/soundscout-background-proj.jpg") no-repeat;
	background-size: 100%;
	padding: 0;
}

.gray-background {
	overflow: hidden;
	height: 100%;
	background: rgba(0, 0, 0, 0.43);
}

#soundscout-logo {
	width: 50%;
}

/* ================ WEBSCRAPER DIV ================*/
#webscraper-project {
	background: url("../images/webscraper-background.jpg") no-repeat;
	background-size: 100%;
	padding: 0;
}

#webscraper-logo {
	color: #ffffff;
	font-family: 'Anton', sans-serif;
	font-size: 5em;
	letter-spacing: 1px;

}

#webscraper-logo span {
	font-size: .8em;
	font-family: 'Fjalla One', sans-serif;
}

#webscraper-project .logo {
	/*margin-top: 2%;*/
	margin-bottom: 3%;
}

/* ================ BAMAZON DIV ================*/
#bamazon-project {
	background: url("../images/bamazon-background.png") no-repeat;
	background-size: 100%;
	border: solid;
	padding: 0;
}

#bamazon-logo {
	color: #20b2aa;
	font-family: 'Arial', 'Helvetica';
	font-weight: bold;
	margin-bottom: 3%;
	font-size: 4em;
}

/* ================ HANGMAN DIV ================*/
#hangman-project {
	background: url("../images/hangman-background.png") no-repeat;
	background-size: 100%;
}

#hangman-logo {
	font-family: 'Permanent Marker', cursive;
	color: #ffffff;
	text-shadow: 3px 3px #a94442;
	font-size: 4em;
	margin-bottom: 3%;
}


/* ================ MEDIA QUERIES ================*/

/* Navbar */
@media screen and (max-width: 1045px) {
	.navbar-default .navbar-nav li a {
		/*letter-spacing: 5px;*/
		font-size: 85%;
	}
}

@media screen and (max-width: 991px) {
	.navbar-default .navbar-nav li a {
		letter-spacing: 5px;
	}
}

@media screen and (max-width: 704px) {
	.navbar-nav li {
	    margin-right: 0;
	}

	.navbar-default .navbar-nav li a {
		letter-spacing: 5px;
	}
}

@media screen and (max-width: 555px) {
	.navbar-nav li {
	    margin-right: 0%;
	}

	.navbar-nav li:nth-child(2) {
		margin-right: 10px;
	}

	.navbar-default .navbar-nav li a {
		letter-spacing: 3px;
		padding-right: 0px;
	}
}

@media screen and (max-width: 500px) {
	.navbar-nav li {
	    margin-right: 0%;
	}

	.navbar-default .navbar-nav li a {
		letter-spacing: 3px;
		padding-right: 0px;
	}

	#je-logo-li {
		width: 11%;
	}
}

@media screen and (max-width: 444px) {
	.navbar-default .navbar-nav li a {
		letter-spacing: 1px;
	}

	#je-logo-li {
		width: 13%;
	}
}

@media screen and (max-width: 360px) {
	.navbar-default .navbar-nav li a {
		font-size: 60%;
	}

	#je-logo-li {
		width: 13%;
	}
}

@media screen and (max-width: 320px) {
	.navbar-default .navbar-nav li a {
		font-size: 50%;
	}
}

