/* ================ OVERALL STYLING ================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000;
}

.container.wrap {
	margin-top: 12%;
}

/* ================ NAVBAR ================*/
.navbar {
	background: transparent;
	border-color: transparent;
}

/* Centering Navbar Content */
ul.nav.navbar-nav {
	width: 100%;
	text-align: center;
	background: #000000;
	padding-bottom: 5px;
}

.navbar-nav li {
	display: inline-block;
    float: none;
    margin-right: 5%;
}

.navbar-default .navbar-nav li a {
	color: white;
	font-family: 'Lato', Open Sans, Arial;
	/*font-size: 130%;*/
	letter-spacing: 10px;
}

.navbar-nav li:last-child {
	margin-right: 0px;
}

/* Collapsable Navbar */
.navbar-collapse {
	border: none;
	background: black;
}

.collapse.navbar-collapse.scroll-navbar {
	display: none!important;
}

.navbar-collapse.collapse.in{
  display:block !important;
}

/* Navbar Header Background Color */
.navbar-header.spread-menu {
	background: #000000;
}

/* Navbar Toggle Button */
button.navbar-toggle {
	background: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

/* Navbar Image */
#je-logo-li {
	width: 10%;
}

#je-logo {
	width: 100%;
}

/* ================ SKILL DIVS ================*/
.skill {
	text-align: center;
	font-family: 'Lato', Open Sans, Arial;
	letter-spacing: 4px;
	margin-bottom: 4%;
	color: #bd9753;
	/*color: #ffffff;*/
}

.skill:hover {
	/*background: white;*/
	/*color: #bd9753;*/
	/*background: #bd9753;*/
	color: #ffffff;
}

.skill .icons {
	width: 30%;
}

.skill h3 {
	font-size: 1.4em;
}

.grow:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#row-1 {
	display: none;
}

#row-2 {
	display: none;
}

#row-3 {
	display: none;
}


