.content {
	/*display: none;*/
}

.full-page {
	display: none;
	height: 100vh;
}

.full-page .intro-line {
	padding-top: 12%;
	text-align: center;
	width: max-content;
    margin: 0 auto;
}

.intro-line div {
	padding-top: 10%;
	color: #ffffff;
	border-bottom: solid;
	border-bottom-color: #bd9753;
	letter-spacing: 25px;
	padding-left: 25px;
	font-family: 'Lato', Open Sans, Arial;
	width: 1200px;
}

#scroll-arrow {
	width: 35px;
	position: absolute;
	left: 50%;
	bottom: 3%;
}

.full-page {
	overflow: hidden;
}

#about-me {
	padding: 5%;
	overflow: initial;
}

#about-me .container {
	border: solid;
	border-color: #bd9753;
	height: auto;
	width: 100%;
	padding: 30px 70px 70px 70px;
}

#about-me .welcome-title {
	color: #ffffff;
	font-family: 'Lato', Open Sans, Arial;
	border-bottom: solid;
	border-bottom-color: #bd9753;
	width: 700px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 15px;
	padding-left: 15px;
	margin-bottom: 30px;
}

#about-me .about-me-info {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	text-indent: 5%;
	font-size: 1.5em;
	letter-spacing: 1px;
}

/* ================ MEDIA QUERIES ================*/
/* Scroll Arrow */
@media screen and (max-width: 991px) {
	.scroll-arrow {
		left: 49.5%;
	}
}

@media screen and (max-width: 767px) {
	.scroll-arrow {
		left: 47%;
	}
}

/* About Me Intro Line */
@media screen and (max-width: 1350px) {
	.intro-line div {
		letter-spacing: 23px;
		padding-left: 23px;
		width: 1150px;
	}
}

@media screen and (max-width: 1300px) {
	.intro-line h1 {
		font-size: 2.2em;
	}

	.intro-line div {
		width: 1080px;
	}
}

@media screen and (max-width: 1200px) {
	.intro-line h1 {
		font-size: 2em;
	}

	.intro-line div {
		width: 1030px;
	}

	.intro-line div {
		padding-top: 12%;
	}
}

@media screen and (max-width: 1150px) {
	.intro-line h1 {
		font-size: 1.8em;
		font-weight: bolder;
	}

	.intro-line div {
		width: 950px;
	}

	.intro-line div {
		padding-top: 15%;
	}
}

@media screen and (max-width: 1050px) {
	.intro-line h1 {
		font-size: 1.6em;
	}

	.intro-line div {
		width: 850px;
		letter-spacing: 20px;
		padding-left: 20px;

		padding-top: 18%;
	}
}

@media screen and (max-width: 925px) {
	.intro-line div {
		width: 800px;
		letter-spacing: 18px;
		padding-left: 18px;
	}

	.intro-line div {
		padding-top: 22%;
	}
}

@media screen and (max-width: 875px) {
	.intro-line h1 {
		font-size: 1.4em;
	}

	.intro-line div {
		width: 750px;
		padding-top: 24%;
	}
}

@media screen and (max-width: 815px) {
	.intro-line div {
		letter-spacing: 15px;
		padding-left: 15px;
		width: 690px;
	}
}

@media screen and (max-width: 775px) {
	.intro-line h1 {
		font-size: 1.2em;
	}

	.intro-line div {
		letter-spacing: 13px;
		padding-left: 13px;
		width: 600px;
		padding-top: 30%;
	}
}

@media screen and (max-width: 675px) {
	.intro-line div {
		letter-spacing: 10px;
		padding-left: 10px;
		width: 520px;
		padding-top: 35%;
	}
}

@media screen and (max-width: 575px) {
	.intro-line h1 {
		font-size: 1em;
	}

	.intro-line div {
		width: 480px;
		padding-top: 40%;
	}
}

@media screen and (max-width: 525px) {
	.intro-line div {
		letter-spacing: 7px;
		padding-left: 7px;
		width: 400px;
		padding-top: 50%;
	}
}

@media screen and (max-width: 450px) {
	.intro-line h1 {
		font-size: .8em;
	}

	.intro-line div {
		width: 350px;
		padding-top: 60%;
	}
}

@media screen and (max-width: 375px) {
	.intro-line div {
		letter-spacing: 3px;
		width: 100%;
		padding-top: 50%;
	}
}

/*@media screen and (max-width: 330px) {
	.intro-line h1 {
		font-size: .6em;
	}

	.intro-line div {
		letter-spacing: 5px;
		width: 250px;
		padding-top: 80%;
	}
}*/

/* Contact Section */
@media screen and (max-width: 1194px) {
	#about-me .about-me-info {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 949px) {
	#about-me {
		padding: 7%;
	}

	#about-me .container {
		padding: 30px 40px 40px 40px;
	}

	#about-me .welcome-title {
		width: 600px;
		letter-spacing: 12px;
		padding-left: 12px;
		margin-bottom: 30px;
	}

	#about-me .welcome-title h2 {
		font-size: 1.7em;
	}
}

@media screen and (max-width: 800px) {
	#about-me {
		padding: 10% 7% 7% 7%;
	}

	#about-me .welcome-title {
		width: 450px;
		letter-spacing: 10px;
		padding-left: 10px;
		margin-bottom: 20px;
	}

	#about-me .welcome-title h2 {
		font-size: 1.4em;
		font-weight: bolder;
	}

	#about-me .about-me-info {
		text-align: center;
		font-size: 1.1em;
	}
}

@media screen and (max-width: 615px) {
	#about-me .container {
		padding: 5px 40px 30px 40px;
	}

	#about-me .welcome-title {
		width: 380px;
		letter-spacing: 6px;
		padding-left: 6px;
	}
}

@media screen and (max-width: 560px) {
	#about-me .welcome-title {
		width: 330px;
	}

	#about-me .welcome-title h2 {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 480px) {
	#about-me .container {
		padding: 5px 20px 20px 20px;
	}

	#about-me .welcome-title {
		width: 280px;
		letter-spacing: 4px;
	}
}

@media screen and (max-width: 375px) {
	#about-me .welcome-title {
		width: 230px;
	}

	#about-me .welcome-title h2 {
		font-size: .85em;
	}
}

@media screen and (min-width: 1441px) {
	#about-me {
		padding: 15% 5% 5% 5%;	
	}

	#about-me .about-me-info {
		text-indent: 2%;
	}
}

