/* ================ OVERALL STYLING ================*/

/*.content {
	display: none;
}*/

/* Project Overview */
.full-page {
	height: 100vh;
}

.project-overview {
	padding-top: 10%;
	text-align: center;
	color: #ffffff;
}

.scroll-arrow {
	width: 2.5%;
	position: absolute;
	left: 50%;
	bottom: 3%;
}

/* Project's Concept */
.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.project-info .information {
	color: #ffffff;
	margin: 2% 4%;
	border: solid;
	border-color: #bd9753;
	padding: 2% 7%;
}

.project-info .concept-title {
	border-bottom: solid;
	border-bottom-color: #bd9753;
	margin-bottom: 3%;
	padding: 0 2%;
}

.project-info h4 {
	font-family: 'Lato', Open Sans, Arial;
	font-size: 1.8em;
	letter-spacing: 10px;
	padding-left: 10px;
}

.project-info p {
	text-indent: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	margin-left: 2%;
	margin-bottom: 2%;
	letter-spacing: 1px;
}

.project-info .github-btn {
	font-family: 'Lato', Open Sans, Arial;
	letter-spacing: 2px;
	font-size: 1.3em;
	background: transparent;
	border: solid;
	border-color: #bd9753;
	color: #bd9753;
	margin: 0 auto;
	margin-top: 3%;
	display: block;
	margin: 0 auto;
	width: 25%;
}

.project-info .github-btn:hover {
	background: #bd9753;
	color: #ffffff;
}

.project-info .github-btn i {
	color: #ffffff;
	margin-right: 2%;
}

/* Project's Contribution */

.project-info .contribution-title {
	margin-top: 5%;
	padding: 0 2%;
	border-bottom: solid;
	border-bottom-color: #bd9753;
	margin-bottom: 3%;
}

.project-info ul {
	padding-left: 6%;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	/*margin-bottom: 5%;*/
}

.project-info ul li {
	margin-bottom: 1%;
}

/* ================ AUTOTRACK ================*/

/* Overview */
#autotrack-project .project-title {
	padding-top: 10%;
	border-bottom: solid;
	border-bottom-color: #bd9753;
	width: 50%;
	margin: 0 auto;
	font-family: 'Lato', Open Sans, Arial;
	margin-bottom: 5%;
}

#autotrack-project .project-title h1 {
	letter-spacing: 15px;
	padding-left: 15px;
	font-size: 5em;
}

#autotrack-project .overview {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	letter-spacing: .8px;
	line-height: 1.5;
}

/* Concept and Contribution */
#autotrack-project .project-info .concept-title {
	width: 41%;
}

#autotrack-project .project-info .contribution-title {
	width: 64%;
}

.image {
	background: white;
}



/* ================ MEDIA QUERIES ================*/

/* Scroll Arrow */
@media screen and (max-width: 900px){
	.scroll-arrow {
		width: 3%;
	}
}

@media screen and (max-width: 770px){
	.scroll-arrow {
		width: 4%;
	}
}

@media screen and (max-width: 550px){
	.scroll-arrow {
		width: 5%;
	}
}

/* Autotrack Overview Content */
@media screen and (max-width: 1199px){
	#autotrack-project .project-title {
		width: 55%;
	}

	#autotrack-project .project-title h1 {
		font-size: 4em;
	}
}

@media screen and (max-width: 991px){
	#autotrack-project .project-title {
		padding-top: 15%;
		width: 57%;
	}

	#autotrack-project .project-title h1 {
		font-size: 3em;
	}

	#autotrack-project .overview {
		letter-spacing: 1px;
	}
}

@media screen and (max-width: 800px){
	#autotrack-project .overview {
		padding: 0 5%;
	}
}

@media screen and (max-width: 725px){
	#autotrack-project .project-title {
		width: 55%;
	}

	#autotrack-project .project-title h1 {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 670px){
	#autotrack-project .project-title {
		/*padding-top: 15%;*/
		width: 60%;
	}
}

@media screen and (max-width: 625px){
	#autotrack-project .overview {
		padding: 0 7%;
	}

	#autotrack-project .project-title {
		/*padding-top: 15%;*/
		width: 65%;
	}
}

@media screen and (max-width: 580px){
	#autotrack-project .project-title {
		width: 70%;
	}
}

@media screen and (max-width: 540px){
	#autotrack-project .project-title {
		padding-top: 23%;
		width: 75%;
	}
}

@media screen and (max-width: 500px){
	#autotrack-project .project-title {
		width: 80%;
	}
}

@media screen and (max-width: 470px){
	#autotrack-project .project-title {
		width: 75%;
	}

	#autotrack-project .project-title h1 {
		font-size: 2em;
	}
}

@media screen and (max-width: 440px){
	#autotrack-project .project-title {
		width: 85%;
	}
}

@media screen and (max-width: 400px){
	#autotrack-project .project-title {
		padding-top: 30%;
		/*width: 57%;*/
	}

	#autotrack-project .project-title h1 {
		font-size: 1.5em;
	}

	#autotrack-project .overview {
		/*letter-spacing: 1px;*/
		font-size: 1em;
	}
}

@media screen and (max-width: 345px){
	#autotrack-project .project-title h1 {
		letter-spacing: 10px;
	}
}





